
.Golden_Snitch, #snitchfly{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom:0px;
    width:30vw;
    
   
}

.spellimg{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:10vw;
}

.magicfont{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(113, 110, 110);
    
}

h1{
    text-align:center;
    margin-top: 80px;
}

body {
    min-height: 100%;
    min-width: 100%;
    /*background: linear-gradient(pink, violet);*/
    /*background: linear-gradient(rgb(243, 255, 169), rgb(113, 227, 138));*/
    /* background:rgba(214, 214, 191, 0.882); */
  }

  #input{
    text-align: center;
    margin-top: 80px;
}
  

p{
    text-align: center;
    font-size: 14px;
    display:block
}

p#semititle {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: rgb(41, 92, 63);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p.smalltitle {
    text-align: center;
    font-size: 10px;
    color: rgb(48, 150, 194)
}

button {
    display:inline;
    margin:5px;

    color: #cc9933;
    padding: 5px 5px;
    border-radius: 10px;

    border:1px;
    cursor:pointer;
  }

  form#castSpell{
    text-align: center;
  }

div#spell{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 60vw;
    text-align:center;
  
}

.audio-player {
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
    
.play-btn {
    cursor:pointer;

    width:2vw
 
}

/* .container { 
    display: flex;
    position: relative;
    height:50vh;
    /*background-image: url('./assets/img/3_0_foorprint.png');
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;
} */


.container {
    background-image: url('./assets/img/5_spell_img_1.png');
    background-size: cover;
    background-position: center top;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%
}

.searchBySpellName{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(113, 110, 110);
}

.contentonscroll{
    margin-top: 80px;
}

.side-image-left  {
    position: absolute;
    top: 0;
    left: -10%;
    height: 50vh; 
  
    }

.side-image-right {
  
    position: absolute;
    top: 0;
    right: -13%;
    height: 50vh; /* Adjust the height as needed /
    / You can also use width: 100px; or any other value to set the width */
 }

 #castle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    height: 170vh; /*how do i make only upper part of the image shown? */
    
 }
 #castle {
   
    transform: scale(1.5);
    width: auto;
    height: auto;
 }
